.hyphens {
   hyphens: auto;
}

.rounded {
   border-radius: var(--astc-default-border-radius);
}

.full-height {
   height: 100%;
}

.align-left {
   text-align: left !important;
}

:root.dark {
   .dark-invert {
      filter: invert(1);
   }
}
