:root {
   --ast-comment-inputs-background: #FCFCFC;
   --ast-form-border-radius: 12px;
}

// Fix the container sizes for Astra base theme
#primary {
   margin: 0 !important;
   padding: 0 !important;

   @media (max-width: 921px) {
      .ast-article-single {
         padding-top: 1em !important;
         padding-bottom: 1em !important;
      }
   }
}

#content {
   @media (max-width: 921px) {
      & > .ast-container {
         padding-left: 1rem;
         padding-right: 1rem;
      }
   }

   main article header.entry-header {
      margin-bottom: 0 !important;
   }
}

#ast-mobile-popup-wrapper .ast-mobile-popup-inner {
   background-color: var(--ast-dark-background-color-2, #FFFFFF) !important;
}

#ast-mobile-site-navigation button.ast-menu-toggle {
   box-shadow: none !important;
   outline: none;
   border-radius: 0;

   .ast-icon.icon-arrow svg {
      margin: 0 1rem;
   }
}
