@media (prefers-color-scheme: dark) {
   :root {
      --ast-dark-primary-color: #c09d53;
      --ast-dark-primary-contrast-color: #242424;
      --ast-dark-link-color: #c09d53;
      --ast-dark-text-color: #cecabd;

      --ast-dark-background-color: #252525;
      --ast-dark-background-color-2: #2d2d2d;
      --ast-dark-input-focus-background-color: #373737;
      --ast-dark-border-color: #4f4b46;

      --ast-border-color: var(--ast-dark-border-color);
      --ast-comment-inputs-background: #2d2d2d !important;
   }

   body {
      background-color: var(--ast-dark-background-color) !important;
      color: var(--ast-dark-text-color);

      .ast-primary-header-bar {
         border-color: var(--ast-dark-border-color);
         background-color: var(--ast-dark-background-color);
      }

      .site-below-footer-wrap {
         background-color: var(--ast-dark-background-color) !important;
         border-color: var(--ast-dark-border-color) !important;
      }

      .card {
         --ast-card-header-background: var(--ast-dark-background-color-2);
      }

      .wpcf7 {
         --ast-global-color-0: var(--ast-dark-primary-color);

         .wpcf7-not-valid-tip {
            color: #ff6b6b;
         }

         .cf7_mls_count_step {
            color: var(--ast-dark-primary-contrast-color) !important;
         }

         .cf7mls_number_step_wrap {
            .cf7mls_number {
               color: var(--ast-dark-link-color);
            }
            .cf7mls_step_current {
               color: var(--ast-dark-text-color);
            }
         }
      }

      .ast-footer-copyright {
         color: var(--ast-dark-text-color);
      }

      .ast-nav-menu .menu-link {
         background-color: var(--ast-dark-background-color-2) !important;
      }

      header {
         .ast-primary-header-bar {
            border-color: var(--ast-dark-border-color) !important;
         }
      }

      label {
         color: var(--ast-dark-text-color);
      }

      input,
      textarea,
      select {
         color: var(--ast-dark-text-color) !important;
         caret-color: var(--ast-dark-text-color);

         &:focus {
            background-color: var(--ast-dark-input-focus-background-color) !important;
            color: var(--ast-dark-text-color) !important;
            caret-color: var(--ast-dark-text-color);
         }
      }

      input[type=checkbox], input[type=radio] {
         mix-blend-mode: overlay;

         &:checked {
            mix-blend-mode: unset !important;
         }
      }

      button, input[type=submit], input[type=reset], input[type=button] {
         background-color: var(--ast-dark-primary-color) !important;
         color: var(--ast-dark-primary-contrast-color) !important;

         .mobile-menu-toggle-icon svg {
            fill: var(--ast-dark-primary-contrast-color) !important;
         }
      }

      a {
         color: var(--ast-dark-link-color) !important;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
         color: var(--ast-dark-link-color) !important;
      }
   }
}
