:root {
   --ast-comment-inputs-background: #fcfcfc;
   --ast-form-border-radius: 12px;
}

// Fix the container sizes for Astra base theme
#primary {
   margin: 0 !important;
   padding: 0 !important;

   &.ast-blog-layout-4-grid {
      padding-top: 2rem !important;
      padding-bottom: 4rem !important;
   }
}

section.ast-single-entry-banner {
   a.ast-button.ast-badge-tax {
      border-radius: var(--ast-form-border-radius);
   }
}

#content {
   @media (max-width: 921px) {
      & > .ast-container {
         padding-left: 1rem;
         padding-right: 1rem;
      }
   }

   main article header.entry-header {
      margin-bottom: 0 !important;
   }

   nav.post-navigation {
      margin-bottom: 2rem;

      .nav-next a, .nav-previous a {
         background-color: var(--astc-layer-surface-container);
         padding: 8px 16px;
         border-radius: var(--ast-form-border-radius);
      }
   }

   nav.pagination .page-numbers {
      border-radius: var(--ast-form-border-radius);
      padding: 2px;
   }

   .ast-article-post .post-thumb-img-content img {
      object-fit: cover;
      object-position: top;
   }
}

.ast-narrow-container,
.ast-separate-container {
   background-color: var(--astc-site-background);
}


// Fix the stupid mobile bottom column spacing wtf
@media (max-width: 544px) {
   .wp-block-columns .wp-block-column:not(:last-child) {
      margin-bottom: 0;
   }
}

