:root {
   --form-border-radius: 4px;
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='reset'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='date'],
input[type='url'],
select,
textarea {
   border-radius: var(--form-border-radius);
   transition: all 0ms;

   border-width: 1px;
   border-style: solid;
   border-color: var(--ast-border-color);
   background: var(--ast-comment-inputs-background);
   caret-color: #444444;

   &:focus {
      border: 1px solid var(--ast-global-color-0) !important;
      box-shadow: 0 0 0 1px inset var(--ast-global-color-0);
      transition: all 0ms;
      background-color: #fff;
   }
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='reset'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
select,
input[type='date'] {
   height: 44px;
   padding: 0.5em 0.75em;
}

input[type='submit'] {
   border-radius: var(--form-border-radius);
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23444444'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
   background-size: 12px;
   background-position: calc(100% - 20px) 19px;
   background-repeat: no-repeat;
   background-color: var(--ast-comment-inputs-background);
   line-height: 1;
}

.wpcf7-form {
   .wpcf7-form-control-wrap {
      padding: 0.25rem 0 1.25rem;
   }

   .wpcf7-list-item {
      margin-right: 1em;
      margin-bottom: 0.75em;
      margin-top: 0.75em;
   }

   .wpcf7-acceptance {
      .wpcf7-list-item {
         display: block;
      }
   }

   textarea {
      resize: vertical;
      min-height: 100px;
   }

   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      margin-top: 1.25rem;
      margin-bottom: 1rem;
   }

   select {
      font-size: 1.125rem;
   }

   fieldset {
      padding: 0;
   }
}

/** PLUGINS **/
// FILE UPLOAD
.codedropz-upload-handler {
   border-radius: var(--form-border-radius) !important;

   .codedropz-upload-container {
      background-color: var(--ast-comment-inputs-background);
   }
}

// IMAGE CAPTCHA
.wpcf7-cf7ic {
   .captcha-image {
      padding: 12px;
      display: inline-block;
      text-align: center;

      border: 1px solid var(--ast-border-color) !important;
      border-radius: var(--form-border-radius) !important;
      width: 100%;
      margin-bottom: 1rem !important;
      background-color: var(--ast-comment-inputs-background);

      .cf7ic_instructions {
         font-size: 18px;
         color: unset;
         display: block;

         & > span:first-child {
            color: #54932d;
            font-weight: bold;
         }
      }

      .cf7ic-icon-wrapper {
         float: none;
         color: unset;
         font-size: 32px;
         display: block;
         padding-top: 0.5rem;

         label > i {
            width: 46px;
            height: 46px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
         }
      }

      label > input:checked + *, .captcha-image label > input:focus + * {
         border-radius: var(--form-border-radius);
      }
   }
}

// DIGITAL SIGNATURE PAD
.digital_signature-pad {
   border: 3px double var(--ast-border-color);
   border-radius: var(--form-border-radius);
}
.dscf7_signature input.clearButton {
   left: 2px;
}


// MULTISTEP FORM
.wpcf7 .cf7mls {
   .cf7mls_next.action-button {
      background-color: var(--ast-global-color-0);
   }

   .cf7mls_progress_bar li.active:before {
      background: var(--ast-global-color-0) !important;
   }
}
