@import "libraries/bootstrapgrid.css";
@import "libraries/fontawesome.css";
@import "libraries/accordion.css";
.card {
  --ast-card-header-background: #F9FAFB;
  border-radius: var(--astc-default-border-radius, 0.25rem);
  border: 1px solid var(--astc-form-input-outline-inactive);
  margin-bottom: 1.25rem;
}
.card .card {
  border-radius: 0;
  border-left: none;
  border-right: none;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  border-bottom: none;
}
.card .card .card-header {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.card .card-header {
  padding: 1.25rem 1.25rem 0.5rem;
  background-color: var(--astc-layer-surface-container);
}
.card .card-header:first-child {
  border-top-left-radius: var(--astc-default-border-radius, 0.25rem);
  border-top-right-radius: var(--astc-default-border-radius, 0.25rem);
}
.card .card-header .card-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.card .card-header .card-subtitle {
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.75;
  margin-bottom: 0.25rem;
}
.card .card-body {
  padding: 1.25rem;
}
.card .card-footer {
  border-top: 1px solid var(--astc-form-input-outline-inactive);
  padding: 0.5rem 1.25rem 1.25rem;
  background-color: rgba(109, 128, 139, 0.07);
}

.rtl {
  direction: rtl;
  font-size: 1.125em;
  line-height: 1.75;
}

.hyphens {
  hyphens: auto;
}

.rounded {
  border-radius: var(--astc-default-border-radius);
}

.full-height {
  height: 100%;
}

.align-left {
  text-align: left !important;
}

:root.dark .dark-invert {
  filter: invert(1);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

h6 {
  font-size: 0.67rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem !important;
  margin-top: 2.5rem;
}
h1 + h1, h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6, h2 + h1, h2 + h2, h2 + h3, h2 + h4, h2 + h5, h2 + h6, h3 + h1, h3 + h2, h3 + h3, h3 + h4, h3 + h5, h3 + h6, h4 + h1, h4 + h2, h4 + h3, h4 + h4, h4 + h5, h4 + h6, h5 + h1, h5 + h2, h5 + h3, h5 + h4, h5 + h5, h5 + h6, h6 + h1, h6 + h2, h6 + h3, h6 + h4, h6 + h5, h6 + h6 {
  margin-top: 1rem;
}

body {
  font-size: 1rem;
}

.entry-content p {
  margin-bottom: 1em;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.font-serif {
  font-family: var(--font-serif), serif;
}

.font-sans {
  font-family: var(--font-sans-serif), sans-serif;
}

.font-monospace {
  font-family: var(--font-monospace), monospace;
}

.pre-wrap {
  white-space: pre-wrap;
}
.pre-wrap code {
  white-space: pre-wrap;
}

code {
  font-size: var(--wp--preset--font-size--small);
}

iframe {
  border-radius: var(--astc-default-border-radius);
}

i.fas {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

::selection {
  background: var(--astc-layer-inverse-surface);
  color: var(--astc-layer-on-inverse-surface);
}

:root {
  --ast-comment-inputs-background: #fcfcfc;
  --ast-form-border-radius: 12px;
}

#primary {
  margin: 0 !important;
  padding: 0 !important;
}
#primary.ast-blog-layout-4-grid {
  padding-top: 2rem !important;
  padding-bottom: 4rem !important;
}

section.ast-single-entry-banner a.ast-button.ast-badge-tax {
  border-radius: var(--ast-form-border-radius);
}

@media (max-width: 921px) {
  #content > .ast-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
#content main article header.entry-header {
  margin-bottom: 0 !important;
}
#content nav.post-navigation {
  margin-bottom: 2rem;
}
#content nav.post-navigation .nav-next a, #content nav.post-navigation .nav-previous a {
  background-color: var(--astc-layer-surface-container);
  padding: 8px 16px;
  border-radius: var(--ast-form-border-radius);
}
#content nav.pagination .page-numbers {
  border-radius: var(--ast-form-border-radius);
  padding: 2px;
}
#content .ast-article-post .post-thumb-img-content img {
  object-fit: cover;
  object-position: top;
}

.ast-narrow-container,
.ast-separate-container {
  background-color: var(--astc-site-background);
}

@media (max-width: 544px) {
  .wp-block-columns .wp-block-column:not(:last-child) {
    margin-bottom: 0;
  }
}
#primary-site-navigation-desktop {
  /**
   * Main menu -> Sub-Menu-Container
   */
  /**
   * Main menu -> Top-Level-Container
   * Menu should have no background on transparent header
   */
  /**
   * Hover & Active
   */
}
#primary-site-navigation-desktop .sub-menu {
  border-radius: var(--astc-default-border-radius);
  padding: calc(var(--astc-default-border-radius) * 2 / 3) 0;
  box-shadow: 0 2px 5px -2px rgba(68, 68, 68, 0.7);
  border: 1px solid rgba(120, 120, 120, 0.12);
}
#primary-site-navigation-desktop .sub-menu .current-menu-item > .menu-link {
  color: var(--astc-tertiary);
  font-weight: bold;
}
#primary-site-navigation-desktop .main-header-menu {
  background-color: transparent;
}
#primary-site-navigation-desktop .main-header-menu > .menu-item {
  margin-left: 1px;
  margin-right: 1px;
  line-height: 47px;
}
#primary-site-navigation-desktop .main-header-menu > .menu-item > .menu-link {
  border-radius: var(--astc-default-border-radius);
}
#primary-site-navigation-desktop .main-header-menu > .menu-item:hover > .menu-link, #primary-site-navigation-desktop .main-header-menu > .menu-item.current-menu-item > .menu-link, #primary-site-navigation-desktop .main-header-menu > .menu-item.current-menu-ancestor > .menu-link {
  color: var(--astc-layer-on-surface);
  background: var(--astc-layer-surface-container);
}

/**
 * Off-Canvas Menu Toggle
 */
#ast-mobile-popup-wrapper .ast-mobile-popup-inner .ast-mobile-popup-header {
  padding: 0 20px;
  margin: 8px 0;
  min-height: 46px;
}
#ast-mobile-popup-wrapper .ast-mobile-popup-inner .ast-mobile-popup-header .menu-toggle-close {
  width: 46px;
  height: 46px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--astc-layer-surface-container);
  border: none;
}
#ast-mobile-popup-wrapper .ast-mobile-popup-inner .ast-mobile-popup-header .menu-toggle-close:focus {
  border: none;
}
#ast-mobile-popup-wrapper .ast-mobile-popup-inner .ast-mobile-popup-content .ast-header-button-1, #ast-mobile-popup-wrapper .ast-mobile-popup-inner .ast-mobile-popup-content .ast-header-button-2, #ast-mobile-popup-wrapper .ast-mobile-popup-inner .ast-mobile-popup-content .ast-header-button-3 {
  padding: 2px 20px;
}
#ast-mobile-popup-wrapper .ast-mobile-popup-inner .ast-mobile-popup-content .ast-header-button-1 .ast-builder-button-wrap, #ast-mobile-popup-wrapper .ast-mobile-popup-inner .ast-mobile-popup-content .ast-header-button-2 .ast-builder-button-wrap, #ast-mobile-popup-wrapper .ast-mobile-popup-inner .ast-mobile-popup-content .ast-header-button-3 .ast-builder-button-wrap {
  width: 100%;
}
#ast-mobile-popup-wrapper .ast-mobile-popup-inner .ast-mobile-popup-content .ast-header-button-1 .ast-builder-button-wrap .ast-custom-button-link, #ast-mobile-popup-wrapper .ast-mobile-popup-inner .ast-mobile-popup-content .ast-header-button-2 .ast-builder-button-wrap .ast-custom-button-link, #ast-mobile-popup-wrapper .ast-mobile-popup-inner .ast-mobile-popup-content .ast-header-button-3 .ast-builder-button-wrap .ast-custom-button-link {
  text-align: center;
}

/**
 * [Mobile] Off-Canvas Menu
 */
.ast-builder-menu-mobile #ast-hf-mobile-menu .menu-item .menu-link {
  line-height: 1.5;
  padding: 12px 20px;
  display: inline-flex;
  align-items: center;
}
.ast-builder-menu-mobile #ast-hf-mobile-menu .menu-item .ast-menu-toggle {
  box-shadow: none !important;
  outline: none;
  border-radius: 0;
  line-height: 48px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  overflow: hidden;
  border: none;
}
.ast-builder-menu-mobile #ast-hf-mobile-menu .menu-item .ast-menu-toggle .ast-icon.icon-arrow svg {
  margin: 0 1rem;
}
.ast-builder-menu-mobile #ast-hf-mobile-menu .menu-item.current-menu-item:not(.menu-item-has-children) > .menu-link {
  background-color: unset;
  color: var(--ast-global-color-2);
  font-weight: bold;
}
.ast-builder-menu-mobile #ast-hf-mobile-menu .menu-item.current-menu-item.menu-item-has-children > .menu-link {
  color: var(--ast-global-color-2);
  font-weight: bold;
}
.ast-builder-menu-mobile #ast-hf-mobile-menu .menu-item.ast-submenu-expanded > .menu-link {
  background-color: var(--astc-mobile-menu-expanded-background);
  color: var(--astc-mobile-menu-expanded-text) !important;
  border-bottom-left-radius: var(--astc-default-border-radius);
}
.ast-builder-menu-mobile #ast-hf-mobile-menu .menu-item.ast-submenu-expanded > .ast-menu-toggle .ast-icon {
  color: var(--astc-mobile-menu-expanded-text);
}
.ast-builder-menu-mobile #ast-hf-mobile-menu > .menu-item.ast-submenu-expanded > .menu-link {
  border-radius: 0 !important;
}
.ast-builder-menu-mobile #ast-hf-mobile-menu .sub-menu {
  padding-left: 20px;
  background-color: var(--astc-layer-surface-container-low);
  margin-top: 2px;
  margin-bottom: 2px;
}
.ast-builder-menu-mobile #ast-hf-mobile-menu .sub-menu .sub-menu {
  margin-left: 20px;
  padding-left: 0;
  background-color: var(--astc-layer-surface-container-high);
  border-bottom-left-radius: var(--astc-default-border-radius);
}
.ast-builder-menu-mobile #ast-hf-mobile-menu .sub-menu .sub-menu .sub-menu {
  margin-left: 20px;
  padding-left: 0;
  background-color: var(--astc-layer-surface-container-highest);
}
.ast-builder-menu-mobile #ast-hf-mobile-menu .sub-menu .menu-link, .ast-builder-menu-mobile #ast-hf-mobile-menu .sub-menu .ast-menu-toggle {
  animation: ASTC_SubMenuPullDown ease-in-out 0.2s;
}
@keyframes ASTC_SubMenuPullDown {
  0% {
    transform: translateY(-30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/**
 * Add spacing below header
 */
.site-header {
  margin-bottom: 1em !important;
}

/**
 * Add spacing above footer
 */
.ast-article-single {
  padding-bottom: 1em !important;
}

/**
 * Blocksatz for desktop devices
 */
@media (min-width: 800px) {
  .entry-content p:not(.has-text-align-center) {
    text-align: justify;
  }
}
/**
 * Add hover effect to buttons
 */
.wp-block-button .wp-block-button__link:hover, .wp-block-button .wp-block-button__link:focus {
  filter: brightness(0.7);
}

/**
 * Auto apply border-radius to all base blocks
 */
.wp-block-column, .wp-block-group, blockquote, .wp-block-verse, .wp-block-uagb-container, img {
  border-radius: var(--astc-default-border-radius);
}

/**
 * Fix pagination bg and color
 */
.ast-pagination .page-numbers:not(.prev):not(.next):not(.current) {
  background: var(--astc-layer-surface-container);
  color: var(--astc-text-normal);
}
.ast-pagination .page-numbers.current {
  background: var(--astc-primary);
  color: var(--astc-on-primary);
}

/**
 * Fix search form bg and color
 */
.search-form {
  border-radius: var(--astc-default-border-radius) !important;
}
.search-form .search-field {
  background-color: var(--astc-form-input-background-inactive) !important;
  border-radius: var(--astc-default-border-radius);
}

:root.dark iframe[data-service=google-maps] {
  filter: invert(0.9) hue-rotate(190deg);
}
:root.dark img {
  filter: brightness(0.8);
}
:root.dark .site-logo-img img {
  filter: invert(1);
}

/**
 * Remove stupid widget spacing
 */
.widget {
  margin-bottom: 1em;
}

.ti-widget.ti-goog {
  z-index: 1 !important;
}
.ti-widget.ti-goog .ti-review-item > div.ti-inner {
  border-radius: var(--astc-default-border-radius) !important;
  background: var(--astc-layer-surface-container-high) !important;
  color: var(--astc-text-normal) !important;
}
.ti-widget.ti-goog .ti-review-item > div.ti-inner .ti-name, .ti-widget.ti-goog .ti-review-item > div.ti-inner .ti-date {
  color: var(--astc-text-normal) !important;
}
.ti-widget.ti-goog .ti-review-item > div.ti-inner .ti-rating-text *, .ti-widget.ti-goog .ti-review-item > div.ti-inner .ti-read-more-active {
  color: var(--astc-text-normal) !important;
}

:root.light.dark {
  background-color: var(--astc-site-background) !important;
  color: var(--astc-text-normal);
}
:root.light.dark .card .card-header {
  background: var(--astc-layer-surface-container);
}
:root.light.dark .wpcf7 .wpcf7-not-valid-tip {
  color: #ff6b6b;
}
:root.light.dark .wpcf7 .cf7_mls_count_step {
  color: white;
  mix-blend-mode: difference;
}
:root.light.dark .wpcf7 .cf7mls_number_step_wrap .cf7mls_number {
  color: var(--astc-secondary);
}
:root.light.dark .wpcf7 .cf7mls_number_step_wrap .cf7mls_step_current {
  color: var(--astc-text-normal);
}
:root.light.dark .ast-footer-copyright {
  color: var(--astc-text-normal);
}
:root.light.dark label {
  color: var(--astc-text-normal);
}
:root.light.dark input,
:root.light.dark textarea,
:root.light.dark select {
  color: var(--astc-text-normal);
  caret-color: var(--astc-text-normal);
}
:root.light.dark input:focus,
:root.light.dark textarea:focus,
:root.light.dark select:focus {
  background-color: var(--astc-form-input-background-focus) !important;
  color: var(--astc-text-normal) !important;
  caret-color: var(--astc-text-normal);
}
:root.light.dark input[type=submit] {
  background-color: var(--ast-global-color-2);
  color: var(--ast-global-color-3);
}
:root.light.dark input[type=checkbox],
:root.light.dark input[type=radio],
:root.light.dark input[type=date] {
  color-scheme: dark;
}
:root.light.dark #ast-mobile-site-navigation button.ast-menu-toggle {
  background-color: transparent !important;
  color: white !important;
}
:root.light.dark .cf7mls_progress_bar_percent {
  background-color: var(--astc-layer-background-2);
}
:root.light.dark .widget_search .search-form .search-field {
  background-color: var(--astc-layer-background-2);
}
:root.light.dark :root {
  --ast-dark-danger-text-color: #ff6b6b;
}
:root.light.dark .wpcf7-not-valid-tip {
  color: var(--astc-color-danger);
}
:root.light.dark .wpcf7-validation-errors {
  color: var(--astc-color-danger) !important;
}
:root.light.dark .wpcf7-icon-wraning,
:root.light.dark .wpcf7-icon-warning {
  fill: var(--astc-color-danger) !important;
}
:root.light.dark .widget_search .search-form input[type=submit] {
  max-width: unset !important;
}
:root.light.dark .ast-separate-container .ast-article-single:not(.ast-related-post),
:root.light.dark .woocommerce.ast-separate-container .ast-woocommerce-container,
:root.light.dark .ast-separate-container .error-404,
:root.light.dark .ast-separate-container .no-results,
:root.light.dark .single.ast-separate-container .site-main .ast-author-meta,
:root.light.dark .ast-separate-container .related-posts-title-wrapper,
:root.light.dark .ast-separate-container .comments-count-wrapper,
:root.light.dark .ast-box-layout.ast-plain-container .site-content,
:root.light.dark .ast-padded-layout.ast-plain-container .site-content,
:root.light.dark .ast-separate-container .ast-archive-description,
:root.light.dark .ast-separate-container .comments-area {
  background-color: unset;
}

input[type=email],
input[type=number],
input[type=password],
input[type=reset],
input[type=search],
input[type=tel],
input[type=text],
input[type=date],
input[type=url],
select,
textarea {
  border-radius: var(--astc-default-border-radius);
  transition: all 200ms ease-in-out;
  border-width: 1px;
  border-style: solid;
  border-color: var(--astc-form-input-outline-inactive);
  background: var(--astc-form-input-background-inactive);
  color: var(--astc-text-normal);
  caret-color: #444444;
  box-shadow: none !important;
}
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=reset]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=date]:focus,
input[type=url]:focus,
select:focus,
textarea:focus {
  border: 1px solid var(--astc-form-accent-color) !important;
  box-shadow: 0 0 0 1px inset var(--astc-form-accent-color) !important;
  transition: all 200ms ease-in-out;
  background-color: var(--astc-form-input-background-focus);
}

input[type=email],
input[type=number],
input[type=password],
input[type=reset],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
select,
input[type=date] {
  height: 44px;
  padding: 0.5em 0.75em;
}

input[type=submit] {
  border-radius: var(--astc-default-border-radius);
}

input[type=checkbox],
input[type=radio] {
  accent-color: var(--astc-form-accent-color);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23444444'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
  background-size: 12px;
  background-position: calc(100% - 20px) 19px;
  background-repeat: no-repeat;
  background-color: var(--astc-form-input-background-inactive);
  line-height: 1.5;
  font-size: 1rem !important;
}

label {
  font-weight: 500;
}

.wpcf7 {
  max-width: 800px;
  margin: 0 auto;
}
.wpcf7 .wpcf7-form-control-wrap {
  padding: 0.25rem 0 1.25rem;
}
.wpcf7 .wpcf7-list-item {
  margin: 0.25em 1em 0.25em 0;
  display: block;
}
.wpcf7 .wpcf7-acceptance .wpcf7-list-item {
  display: block;
}
.wpcf7 .wpcf7-submit {
  float: right;
}
.wpcf7 .wpcf7-spinner {
  float: right;
}
.wpcf7 textarea {
  resize: vertical;
  min-height: 100px;
}
.wpcf7 h1,
.wpcf7 h2,
.wpcf7 h3,
.wpcf7 h4,
.wpcf7 h5,
.wpcf7 h6 {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}
.wpcf7 select {
  font-size: 1em;
  padding: 0.5em 0.75em;
}
.wpcf7 fieldset {
  padding: 0;
}
.wpcf7 label {
  font-size: 0.938rem;
  font-weight: normal;
}
.wpcf7 button, .wpcf7 input[type=submit], .wpcf7 input[type=reset], .wpcf7 input[type=button] {
  border-radius: var(--astc-default-border-radius) !important;
}

.wpcf7 .codedropz-upload-handler {
  border-radius: var(--astc-default-border-radius) !important;
}
.wpcf7 .codedropz-upload-handler .codedropz-upload-container {
  background-color: var(--astc-form-input-background-inactive);
}
.wpcf7 .codedropz-upload-handler .codedropz-upload-container .codedropz-upload-inner h3 {
  margin-top: 4px;
}

.wpcf7 .digital_signature-pad {
  border: 3px double var(--astc-form-input-outline-inactive);
  border-radius: var(--astc-default-border-radius);
}
.wpcf7 .dscf7_signature input.clearButton {
  left: 2px;
  line-height: 0;
}

.wpcf7 .wpcf7-cf7ic .captcha-image {
  padding: 12px;
  display: inline-block;
  text-align: center;
  border: 1px solid var(--astc-form-input-outline-inactive) !important;
  border-radius: var(--astc-default-border-radius) !important;
  width: 100%;
  margin-bottom: 1rem !important;
  background-color: var(--astc-form-input-background-inactive);
}
.wpcf7 .wpcf7-cf7ic .captcha-image .cf7ic_instructions {
  font-size: 18px;
  color: unset;
  display: block;
}
.wpcf7 .wpcf7-cf7ic .captcha-image .cf7ic_instructions > span:first-child {
  color: #5aab28;
  font-weight: bold;
}
.wpcf7 .wpcf7-cf7ic .captcha-image .cf7ic-icon-wrapper {
  float: none;
  color: unset;
  font-size: 32px;
  display: block;
  padding-top: 0.5rem;
}
.wpcf7 .wpcf7-cf7ic .captcha-image .cf7ic-icon-wrapper label > i {
  width: 46px;
  height: 46px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.wpcf7 .wpcf7-cf7ic .captcha-image .cf7ic-icon-wrapper label > i::before {
  font-size: 1.75rem;
}
.wpcf7 .wpcf7-cf7ic .captcha-image label > input:checked + *,
.wpcf7 .wpcf7-cf7ic .captcha-image .captcha-image label > input:focus + * {
  border-radius: var(--astc-default-border-radius);
}

.wpcf7 .cf7mls .cf7mls_next.action-button,
.wpcf7 .cf7mls .cf7mls_back.action-button {
  background-color: var(--astc-form-accent-color);
  font-size: 1rem;
  font-weight: 500;
  color: var(--astc-text-inverse);
  padding: 0.75rem 1rem;
}
.wpcf7 .cf7mls .cf7mls_progress_bar {
  margin: 1rem auto 1rem !important;
  padding: 0;
}
.wpcf7 .cf7mls .cf7mls_progress_bar li:before {
  background: var(--astc-layer-surface-container);
}
.wpcf7 .cf7mls .cf7mls_progress_bar li.active:before {
  background: var(--astc-form-accent-color) !important;
}
.wpcf7 .cf7mls .cf7mls_progress_bar li .cf7mls_progress_bar_title {
  font-size: 0.75em;
}

/*# sourceMappingURL=index.css.map */
