@import "libraries/bootstrapgrid.css";
@import "libraries/fontawesome.css";
@import "libraries/accordion.css";
.card {
  --ast-card-header-background: #F9FAFB;
  border-radius: var(--astc-form-border-radius, 0.25rem);
  border: 1px solid var(--astc-form-input-outline-inactive);
  margin-bottom: 1.25rem;
}
.card .card {
  border-radius: 0;
  border-left: none;
  border-right: none;
  margin-left: -1.25rem;
  margin-right: -1.25rem;
  border-bottom: none;
}
.card .card .card-header {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.card .card-header {
  padding: 1.25rem 1.25rem 0.5rem;
  background-color: var(--astc-layer-background-2);
}
.card .card-header:first-child {
  border-top-left-radius: var(--astc-form-border-radius, 0.25rem);
  border-top-right-radius: var(--astc-form-border-radius, 0.25rem);
}
.card .card-header .card-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.card .card-header .card-subtitle {
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.75;
  margin-bottom: 0.25rem;
}
.card .card-body {
  padding: 1.25rem;
}
.card .card-footer {
  border-top: 1px solid var(--astc-form-input-outline-inactive);
  padding: 0.5rem 1.25rem 1.25rem;
  background-color: rgba(109, 128, 139, 0.07);
}

.rtl {
  direction: rtl;
  font-size: 1.125em;
  line-height: 1.75;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

h6 {
  font-size: 0.67rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem !important;
  margin-top: 2.5rem;
}
h1 + h1, h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6, h2 + h1, h2 + h2, h2 + h3, h2 + h4, h2 + h5, h2 + h6, h3 + h1, h3 + h2, h3 + h3, h3 + h4, h3 + h5, h3 + h6, h4 + h1, h4 + h2, h4 + h3, h4 + h4, h4 + h5, h4 + h6, h5 + h1, h5 + h2, h5 + h3, h5 + h4, h5 + h5, h5 + h6, h6 + h1, h6 + h2, h6 + h3, h6 + h4, h6 + h5, h6 + h6 {
  margin-top: 1rem;
}

body {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.entry-content p {
  margin-bottom: 1em;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.font-serif {
  font-family: var(--font-serif), serif;
}

.font-sans {
  font-family: var(--font-sans-serif), sans-serif;
}

.font-monospace {
  font-family: var(--font-monospace), monospace;
}

.pre-wrap {
  white-space: pre-wrap;
}
.pre-wrap code {
  white-space: pre-wrap;
}

code {
  font-size: var(--wp--preset--font-size--small);
}

i.fas {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

:root {
  --ast-comment-inputs-background: #fcfcfc;
  --ast-form-border-radius: 12px;
}

#primary {
  margin: 0 !important;
  padding: 0 !important;
}
#primary.ast-blog-layout-4-grid {
  padding-top: 2rem !important;
  padding-bottom: 4rem !important;
}
#primary .ast-article-single {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}

section.ast-single-entry-banner a.ast-button.ast-badge-tax {
  border-radius: var(--ast-form-border-radius);
}

@media (max-width: 921px) {
  #content > .ast-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
#content main article header.entry-header {
  margin-bottom: 0 !important;
}
#content nav.post-navigation {
  margin-bottom: 2rem;
}
#content nav.post-navigation .nav-next a, #content nav.post-navigation .nav-previous a {
  background-color: var(--astc-layer-background-3);
  padding: 8px 16px;
  border-radius: var(--ast-form-border-radius);
}
#content nav.pagination .page-numbers {
  border-radius: var(--ast-form-border-radius);
  padding: 2px;
}
#content .ast-article-post .post-thumb-img-content img {
  object-fit: cover;
  object-position: top;
}

#ast-mobile-site-navigation button.ast-menu-toggle {
  box-shadow: none !important;
  outline: none;
  border-radius: 0;
  height: 53px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  overflow: hidden;
  border: none;
}
#ast-mobile-site-navigation button.ast-menu-toggle .ast-icon.icon-arrow svg {
  margin: 0 1rem;
}

#ast-mobile-popup-wrapper .ast-mobile-popup-inner .ast-mobile-popup-header {
  padding: 6px 20px;
}
#ast-mobile-popup-wrapper .ast-mobile-popup-inner .ast-mobile-popup-header .menu-toggle-close {
  width: 46px;
  height: 46px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--astc-layer-background-3);
  border: none;
}
#ast-mobile-popup-wrapper .ast-mobile-popup-inner .ast-mobile-popup-header .menu-toggle-close:focus {
  border: none;
}

#ast-mobile-site-navigation .main-header-menu .menu-item .menu-link {
  line-height: 1.5;
  padding: 10px 20px;
}

#ast-mobile-site-navigation .main-header-menu .menu-item .menu-item .menu-link {
  margin-left: 20px;
}

#primary-site-navigation-desktop > .main-navigation > .main-header-menu > .menu-item {
  margin-left: 1px;
  margin-right: 1px;
}
#primary-site-navigation-desktop > .main-navigation > .main-header-menu > .menu-item > .menu-link {
  border-radius: var(--astc-form-border-radius);
}
#primary-site-navigation-desktop > .main-navigation > .main-header-menu > .menu-item:hover > .menu-link, #primary-site-navigation-desktop > .main-navigation > .main-header-menu > .menu-item.current-menu-ancestor > .menu-link {
  color: var(--ast-global-color-1);
  background: var(--ast-global-color-5);
}

@media (max-width: 544px) {
  .wp-block-columns .wp-block-column:not(:last-child) {
    margin-bottom: 0;
  }
}
body.dark {
  background-color: var(--astc-site-background) !important;
  color: var(--astc-text-normal);
}
body.dark .card .card-header {
  background: var(--astc-layer-background-3);
}
body.dark .wpcf7 .wpcf7-not-valid-tip {
  color: #ff6b6b;
}
body.dark .wpcf7 .cf7_mls_count_step {
  color: var(--astc-primary-contrast) !important;
}
body.dark .wpcf7 .cf7mls_number_step_wrap .cf7mls_number {
  color: var(--astc-secondary);
}
body.dark .wpcf7 .cf7mls_number_step_wrap .cf7mls_step_current {
  color: var(--astc-text-normal);
}
body.dark .ast-footer-copyright {
  color: var(--astc-text-normal);
}
body.dark label {
  color: var(--astc-text-normal);
}
body.dark input,
body.dark textarea,
body.dark select {
  color: var(--astc-text-normal) !important;
  caret-color: var(--astc-text-normal);
}
body.dark input:focus,
body.dark textarea:focus,
body.dark select:focus {
  background-color: var(--astc-form-input-background-focus) !important;
  color: var(--astc-text-normal) !important;
  caret-color: var(--astc-text-normal);
}
body.dark input[type=checkbox],
body.dark input[type=radio] {
  mix-blend-mode: overlay;
}
body.dark input[type=checkbox]:checked,
body.dark input[type=radio]:checked {
  mix-blend-mode: unset !important;
}
body.dark #ast-mobile-site-navigation button.ast-menu-toggle {
  background-color: transparent !important;
  color: white !important;
}
body.dark .cf7mls_progress_bar_percent {
  background-color: var(--astc-layer-background-2);
}
body.dark .widget_search .search-form .search-field {
  background-color: var(--astc-layer-background-2);
}
body.dark :root {
  --ast-dark-danger-text-color: #ff6b6b;
}
body.dark .wpcf7-not-valid-tip {
  color: var(--astc-color-danger);
}
body.dark .wpcf7-validation-errors {
  color: var(--astc-color-danger) !important;
}
body.dark .wpcf7-icon-wraning,
body.dark .wpcf7-icon-warning {
  fill: var(--astc-color-danger) !important;
}
body.dark .ast-narrow-container .site-content,
body.dark #primary .error-404,
body.dark .ast-separate-container .ast-article-inner {
  background-color: unset;
}
body.dark .wpcf7-submit {
  float: right;
}
body.dark .widget_search .search-form input[type=submit] {
  max-width: unset !important;
}
body.dark .ast-separate-container .ast-article-single:not(.ast-related-post),
body.dark .woocommerce.ast-separate-container .ast-woocommerce-container,
body.dark .ast-separate-container .error-404,
body.dark .ast-separate-container .no-results,
body.dark .single.ast-separate-container .site-main .ast-author-meta,
body.dark .ast-separate-container .related-posts-title-wrapper,
body.dark .ast-separate-container .comments-count-wrapper,
body.dark .ast-box-layout.ast-plain-container .site-content,
body.dark .ast-padded-layout.ast-plain-container .site-content,
body.dark .ast-separate-container .ast-archive-description,
body.dark .ast-separate-container .comments-area {
  background-color: unset;
}

input[type=email],
input[type=number],
input[type=password],
input[type=reset],
input[type=search],
input[type=tel],
input[type=text],
input[type=date],
input[type=url],
select,
textarea {
  border-radius: var(--astc-form-border-radius);
  transition: all 0ms;
  border-width: 1px;
  border-style: solid;
  border-color: var(--astc-form-input-outline-inactive);
  background: var(--astc-form-input-background-inactive);
  caret-color: #444444;
  box-shadow: none !important;
}
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=reset]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=date]:focus,
input[type=url]:focus,
select:focus,
textarea:focus {
  border: 1px solid var(--astc-form-accent-color) !important;
  box-shadow: 0 0 0 1px inset var(--astc-form-accent-color) !important;
  transition: all 0ms;
  background-color: var(--astc-form-input-background-focus);
}

input[type=email],
input[type=number],
input[type=password],
input[type=reset],
input[type=search],
input[type=tel],
input[type=text],
input[type=url],
select,
input[type=date] {
  height: 44px;
  padding: 0.5em 0.75em;
}

input[type=submit] {
  border-radius: var(--astc-form-border-radius);
}

input[type=checkbox],
input[type=radio] {
  accent-color: var(--astc-form-accent-color);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23444444'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
  background-size: 12px;
  background-position: calc(100% - 20px) 19px;
  background-repeat: no-repeat;
  background-color: var(--astc-form-input-background-inactive);
  line-height: 1.5;
  font-size: 1rem !important;
}

label {
  font-weight: 500;
}

.wpcf7 {
  max-width: 800px;
  margin: 0 auto;
}
.wpcf7 .wpcf7-form-control-wrap {
  padding: 0.25rem 0 1.25rem;
}
.wpcf7 .wpcf7-list-item {
  margin: 0.25em 1em 0.25em 0;
  display: block;
}
.wpcf7 .wpcf7-acceptance .wpcf7-list-item {
  display: block;
}
.wpcf7 .wpcf7-submit {
  padding: 0.75rem 1.25rem !important;
  font-size: 1rem;
  font-weight: 600 !important;
  float: right;
}
.wpcf7 .wpcf7-spinner {
  float: right;
}
.wpcf7 textarea {
  resize: vertical;
  min-height: 100px;
}
.wpcf7 h1,
.wpcf7 h2,
.wpcf7 h3,
.wpcf7 h4,
.wpcf7 h5,
.wpcf7 h6 {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}
.wpcf7 select {
  font-size: 1em;
  padding: 0.5em 0.75em;
}
.wpcf7 fieldset {
  padding: 0;
}
.wpcf7 label {
  font-size: 0.938rem;
  font-weight: normal;
}
.wpcf7 button, .wpcf7 input[type=submit], .wpcf7 input[type=reset], .wpcf7 input[type=button] {
  border-radius: var(--astc-form-border-radius) !important;
}

.wpcf7 .codedropz-upload-handler {
  border-radius: var(--astc-form-border-radius) !important;
}
.wpcf7 .codedropz-upload-handler .codedropz-upload-container {
  background-color: var(--astc-form-input-background-inactive);
}

.wpcf7 .digital_signature-pad {
  border: 3px double var(--astc-form-input-outline-inactive);
  border-radius: var(--astc-form-border-radius);
}
.wpcf7 .dscf7_signature input.clearButton {
  left: 2px;
  line-height: 0;
}

.wpcf7 .wpcf7-cf7ic .captcha-image {
  padding: 12px;
  display: inline-block;
  text-align: center;
  border: 1px solid var(--astc-form-input-outline-inactive) !important;
  border-radius: var(--astc-form-border-radius) !important;
  width: 100%;
  margin-bottom: 1rem !important;
  background-color: var(--astc-form-input-background-inactive);
}
.wpcf7 .wpcf7-cf7ic .captcha-image .cf7ic_instructions {
  font-size: 18px;
  color: unset;
  display: block;
}
.wpcf7 .wpcf7-cf7ic .captcha-image .cf7ic_instructions > span:first-child {
  color: #5aab28;
  font-weight: bold;
}
.wpcf7 .wpcf7-cf7ic .captcha-image .cf7ic-icon-wrapper {
  float: none;
  color: unset;
  font-size: 32px;
  display: block;
  padding-top: 0.5rem;
}
.wpcf7 .wpcf7-cf7ic .captcha-image .cf7ic-icon-wrapper label > i {
  width: 46px;
  height: 46px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.wpcf7 .wpcf7-cf7ic .captcha-image .cf7ic-icon-wrapper label > i::before {
  font-size: 1.75rem;
}
.wpcf7 .wpcf7-cf7ic .captcha-image label > input:checked + *,
.wpcf7 .wpcf7-cf7ic .captcha-image .captcha-image label > input:focus + * {
  border-radius: var(--astc-form-border-radius);
}

.wpcf7 .cf7mls .cf7mls_next.action-button,
.wpcf7 .cf7mls .cf7mls_back.action-button {
  background-color: var(--astc-form-accent-color);
  font-size: 1rem;
  font-weight: bold;
  color: var(--astc-text-inverse);
  padding: 0.75rem 1rem;
}
.wpcf7 .cf7mls .cf7mls_progress_bar {
  margin: 1rem auto 1rem !important;
  padding: 0;
}
.wpcf7 .cf7mls .cf7mls_progress_bar li.active:before {
  background: var(--astc-form-accent-color) !important;
}
.wpcf7 .cf7mls .cf7mls_progress_bar li .cf7mls_progress_bar_title {
  font-size: 0.75em;
}

/*# sourceMappingURL=index.css.map */
