h1, h2, h3, h4, h5, h6 {
   margin-top: 2rem;

   // Target headings directly following another heading
   & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
      margin-top: 1rem;
   }

   &+p {
      margin-top: -0.75em;
   }
}

.pre-wrap {
   white-space: pre-wrap;

   code {
      white-space: pre-wrap;
   }
}
code {
   font-size: var(--wp--preset--font-size--small);
}

iframe {
   border-radius: var(--astc-default-border-radius);
}

i {
   &.fas {
      margin-left: 0.25em;
      margin-right: 0.25em;
   }
}

::selection {
   background: var(--astc-layer-inverse-surface);
   color: var(--astc-layer-on-inverse-surface);
}
