h1 {
   font-size: 2rem;
}

h2 {
   font-size: 1.5rem;
}

h3 {
   font-size: 1.17rem;
}

h4 {
   font-size: 1rem;
}

h5 {
   font-size: 0.83rem;
}

h6 {
   font-size: 0.67rem;
}

h1, h2, h3, h4, h5, h6 {
   margin-bottom: 0.5rem !important;
   margin-top: 2.5rem;

   // Target headings directly following another heading
   & + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
      margin-top: 1rem;
   }
}

body {
   font-size: 1rem;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.entry-content p {
   margin-bottom: 1em;
}

*, *:before, *:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

.font-serif {
   font-family: var(--font-serif), serif;
}
.font-sans {
   font-family: var(--font-sans-serif), sans-serif;
}
.font-monospace {
   font-family: var(--font-monospace), monospace;
}
.pre-wrap {
   white-space: pre-wrap;

   code {
      white-space: pre-wrap;
   }
}
code {
   font-size: var(--wp--preset--font-size--small);
}

iframe {
   border-radius: var(--astc-default-border-radius);
}

i {
   &.fas {
      margin-left: 0.25em;
      margin-right: 0.25em;
   }
}
