/**
 * Off-Canvas Menu Toggle
 */
#ast-mobile-popup-wrapper {
   .ast-mobile-popup-inner {
      .ast-mobile-popup-header {
         padding: 0 20px;
         margin: 8px 0;
         min-height: 46px;

         .menu-toggle-close {
            width: 46px;
            height: 46px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background: var(--astc-layer-surface-container);
            border: none;

            &:focus {
               border: none;
            }
         }
      }

      .ast-mobile-popup-content {
         // Fix for buttons in off-canvas menu
         .ast-header-button-1,
         .ast-header-button-2,
         .ast-header-button-3 {
            padding: 2px 20px;
            .ast-builder-button-wrap {
               width: 100%;
               .ast-custom-button-link {
                  text-align: center;
               }
            }
         }
      }
   }
}

/**
 * [Mobile] Off-Canvas Menu
 */
.ast-builder-menu-mobile #ast-hf-mobile-menu {
   .menu-item {
      .menu-link {
         line-height: 1.5;
         padding: 16px 20px;
         display: inline-flex;
         align-items: center;
      }

      .ast-menu-toggle {
         box-shadow: none !important;
         outline: none;
         border-radius: 0;
         line-height: 56px;
         height: 56px;
         display: inline-flex;
         align-items: center;
         justify-content: center;
         background: transparent;
         overflow: hidden;
         border: none;

         .ast-icon.icon-arrow {
            svg {
               margin: 0 1rem;
            }
         }
      }

      // Current menu item
      &.current-menu-item {
         &:not(.menu-item-has-children) > .menu-link {
            background-color: unset;
            color: var(--astc-mobile-menu-active-text);
            font-weight: bold;
         }

         &.menu-item-has-children > .menu-link {
            color: var(--astc-mobile-menu-active-text);
            font-weight: bold;
         }
      }

      &.ast-submenu-expanded {
         & > .menu-link {
            background-color: var(--astc-mobile-menu-expanded-background);
            color: var(--astc-mobile-menu-expanded-text) !important;
            border-bottom-left-radius: var(--astc-default-border-radius);
         }

         & > .ast-menu-toggle {
            .ast-icon {
               color: var(--astc-mobile-menu-expanded-text);
            }
         }
      }

      // Remove border bottom line from last menu item
      &:last-child .menu-link {
         border-bottom-width: 0 !important;
      }
   }

   // Remove border-radius from top-level menu items
   & > .menu-item.ast-submenu-expanded > .menu-link {
      border-radius: 0 !important;
   }

   // Sub-Menu layer colors
   .sub-menu {
      padding-left: 20px;
      background-color: var(--astc-layer-surface-container-low);

      .sub-menu {
         margin-left: 20px;
         padding-left: 0;
         background-color: var(--astc-layer-surface-container-high);
         border-bottom-left-radius: var(--astc-default-border-radius);

         .sub-menu {
            margin-left: 20px;
            padding-left: 0;
            background-color: var(--astc-layer-surface-container-highest);
         }
      }

      // Animation for sub-menus
      .menu-link,
      .ast-menu-toggle {
         animation: ASTC_SubMenuPullDown ease-in-out 0.2s;

         @keyframes ASTC_SubMenuPullDown {
            0% {
               transform: translateY(-30%);
               opacity: 0;
            }
            100% {
               transform: translateY(0);
               opacity: 1;
            }
         }
      }
   }
}
