.wpcf7 {
   .codedropz-upload-handler {
      border-radius: var(--astc-default-border-radius) !important;

      .codedropz-upload-container {
         background-color: var(--astc-form-input-background-inactive);

         .codedropz-upload-inner {
            h3 {
               margin-top: 4px;
            }
         }
      }
   }
}

