.wpcf7 {
   --ast-global-color-0: black;
   max-width: 800px;
   margin: 0 auto;

   .wpcf7-form-control-wrap {
      padding: 0.25rem 0 1.25rem;
   }

   .wpcf7-list-item {
      margin: 0.25em 1em 0.25em 0;
      display: block;
   }

   .wpcf7-acceptance {
      .wpcf7-list-item {
         display: block;
      }
   }

   .wpcf7-submit {
      padding: 0.75rem 1.25rem;
   }

   textarea {
      resize: vertical;
      min-height: 100px;
   }

   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      margin-top: 1.25rem;
      margin-bottom: 1rem;
   }

   select {
      font-size: 1.125rem;
   }

   fieldset {
      padding: 0;
   }

   label {
      font-size: 0.938rem;
      font-weight: normal;
   }

   button, input[type=submit], input[type=reset], input[type=button] {
      border-radius: var(--astc-form-border-radius) !important;
   }
}
