:root, :root.light, body {
   --ast-global-color-0: var(--astc-primary);
   --ast-global-color-1: var(--astc-on-primary);
   --ast-global-color-2: var(--astc-tertiary);
   --ast-global-color-3: var(--astc-on-tertiary);
   --ast-global-color-4: var(--astc-site-background); // Site background
   --ast-global-color-5: var(--astc-layer-surface-container); // Container
   --ast-global-color-6: var(--astc-border-color); // Border
   --ast-global-color-7: var(--astc-text-normal);
   --ast-global-color-8: var(--astc-text-inverse);
}
