:root {
  --astc-text-normal: #171d19;
  --astc-text-inverse: #edf2eb;
  --astc-primary: #318a5f;
  --astc-primary-contrast: #ffffff;
  --astc-primary-hover: #2a7551;
  --astc-primary-active: #236445;
  --astc-primary-dark: #236445;
  --astc-primary-light: #389f6d;
  --astc-secondary: #c09d53;
  --astc-secondary-contrast: #ffffff;
  --astc-secondary-hover: #ab883f;
  --astc-secondary-active: #917435;
  --astc-secondary-dark: #917435;
  --astc-secondary-light: #cbae71;
  --astc-color-info: #38aecc;
  --astc-background-info: #cfe1e6;
  --astc-text-info: #226d80;
  --astc-color-success: #318a5f;
  --astc-background-success: #cfe6da;
  --astc-text-success: #2e8058;
  --astc-color-danger: #db504a;
  --astc-background-danger: #e6d0cf;
  --astc-text-danger: #802e2b;
  --astc-color-warning: #ffcf00;
  --astc-background-warning: #e6e1cf;
  --astc-text-warning: #806800;
  --astc-form-accent-color: black;
  --astc-form-input-outline-inactive: #d1d5db;
  --astc-form-input-background-inactive: #fcfcfc;
  --astc-form-input-background-focus: white;
  --astc-form-border-radius: 12px;
  --astc-border-color: var(--astc-form-input-outline-inactive);
  --astc-site-background: white;
  --astc-layer-background-1: #f7f7f7;
  --astc-layer-background-2: #f0f0f0;
  --astc-layer-background-3: #e0e0e0;
  --astc-layer-background-4: #d0d0d0;
  --astc-layer-background-5: #c0c0c0;
  --astc-style-background-1: #acf2c7;
  --astc-style-background-2: #d0e8d6;
  --astc-style-background-3: #ffdfa0;
  --astc-style-background-4: #ffdad6;
  --astc-style-background-5: #2c322d;
}

body.dark {
  --astc-text-normal: #dfe4dd;
  --astc-text-inverse: #2c322d;
  --astc-primary: #91d5ac;
  --astc-primary-contrast: #003921;
  --astc-primary-hover: #76b08d;
  --astc-primary-active: #5e8a6f;
  --astc-primary-dark: #005e37;
  --astc-primary-light: #008547;
  --astc-secondary: #eac16c;
  --astc-secondary-contrast: #402d00;
  --astc-secondary-hover: #c4a15a;
  --astc-secondary-active: #9e8249;
  --astc-secondary-dark: #c4a15a;
  --astc-secondary-light: #9e8249;
  --astc-color-info: #1e5a6c;
  --astc-background-info: #2a3942;
  --astc-text-info: #a7cfd8;
  --astc-color-success: #1d6042;
  --astc-background-success: #2a3d33;
  --astc-text-success: #a0cbb0;
  --astc-color-danger: #8a2c29;
  --astc-background-danger: #3d2726;
  --astc-text-danger: #f2b8b5;
  --astc-color-warning: #b38b00;
  --astc-background-warning: #403d2f;
  --astc-text-warning: #ffcf00;
  --astc-form-accent-color: var(--astc-primary);
  --astc-form-input-outline-inactive: #4f4b46;
  --astc-form-input-background-inactive: #212422;
  --astc-form-input-background-focus: #373737;
  --astc-form-border-radius: 12px;
  --astc-border-color: var(--astc-form-input-outline-inactive);
  --astc-site-background: #191c1a;
  --astc-layer-background-1: #0f1511;
  --astc-layer-background-2: #171d19;
  --astc-layer-background-3: #1b211d;
  --astc-layer-background-4: #262b27;
  --astc-layer-background-5: #303632;
  --astc-style-background-1: #045233;
  --astc-style-background-2: #374b3e;
  --astc-style-background-3: #5c4300;
  --astc-style-background-4: #93000a;
  --astc-style-background-5: #dfe4dd;
}

body {
  --ast-global-color-0: var(--astc-primary);
  --ast-global-color-1: var(--astc-primary-hover);
  --ast-global-color-2: var(--astc-secondary);
  --ast-global-color-3: var(--astc-secondary-hover);
  --ast-global-color-4: var(--astc-site-background);
  --ast-global-color-5: var(--astc-layer-background-3);
  --ast-global-color-6: var(--astc-border-color);
  --ast-global-color-7: var(--astc-text-normal);
  --ast-global-color-8: var(--astc-text-inverse);
}

/*# sourceMappingURL=index.css.map */
