:root {
  --astc-layer-background-1: var(--md-sys-color-surface);
  --astc-layer-background-2: var(--md-sys-color-surface-container-low);
  --astc-layer-background-3: var(--md-sys-color-surface-container);
  --astc-layer-background-4: var(--md-sys-color-surface-container-high);
  --astc-layer-background-5: var(--md-sys-color-surface-container-highest);
  --astc-style-background-1: var(--md-sys-color-primary-container);
  --astc-style-background-2: var(--md-sys-color-secondary-container);
  --astc-style-background-3: var(--md-sys-color-tertiary-container);
  --astc-style-background-4: var(--md-sys-color-error-container);
  --astc-style-background-5: var(--md-sys-color-inverse-surface);
  --astc-primary-contrast: var(--md-sys-color-on-primary);
  --astc-secondary-contrast: var(--md-sys-color-on-secondary);
  --astc-tertiary-contrast: var(--md-sys-color-on-tertiary);
  --astc-color-info: #38aecc;
  --astc-background-info: #cfe1e6;
  --astc-text-info: #226d80;
  --astc-color-success: #318a5f;
  --astc-background-success: #cfe6da;
  --astc-text-success: #2e8058;
  --astc-color-danger: #db504a;
  --astc-background-danger: #e6d0cf;
  --astc-text-danger: #802e2b;
  --astc-color-warning: #ffcf00;
  --astc-background-warning: #e6e1cf;
  --astc-text-warning: #806800;
}

body.dark {
  --astc-layer-background-1: #0f1511;
  --astc-layer-background-2: #171d19;
  --astc-layer-background-3: #1b211d;
  --astc-layer-background-4: #262b27;
  --astc-layer-background-5: #303632;
  --astc-style-background-1: #045233;
  --astc-style-background-2: #374b3e;
  --astc-style-background-3: #5c4300;
  --astc-style-background-4: #93000a;
  --astc-style-background-5: #dfe4dd;
  --astc-primary-contrast: #003921;
  --astc-secondary-contrast: #402d00;
  --astc-color-info: #1e5a6c;
  --astc-background-info: #2a3942;
  --astc-text-info: #a7cfd8;
  --astc-color-success: #1d6042;
  --astc-background-success: #2a3d33;
  --astc-text-success: #a0cbb0;
  --astc-color-danger: #8a2c29;
  --astc-background-danger: #3d2726;
  --astc-text-danger: #f2b8b5;
  --astc-color-warning: #b38b00;
  --astc-background-warning: #403d2f;
  --astc-text-warning: #ffcf00;
}

:root {
  --md-sys-color-primary: rgb(76 102 43);
  --md-sys-color-surface-tint: rgb(76 102 43);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(205 237 163);
  --md-sys-color-on-primary-container: rgb(16 32 0);
  --md-sys-color-secondary: rgb(88 98 73);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(220 231 200);
  --md-sys-color-on-secondary-container: rgb(21 30 11);
  --md-sys-color-tertiary: rgb(56 102 99);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(188 236 231);
  --md-sys-color-on-tertiary-container: rgb(0 32 30);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(249 250 239);
  --md-sys-color-on-background: rgb(26 28 22);
  --md-sys-color-surface: rgb(249 250 239);
  --md-sys-color-on-surface: rgb(26 28 22);
  --md-sys-color-surface-variant: rgb(225 228 213);
  --md-sys-color-on-surface-variant: rgb(68 72 61);
  --md-sys-color-outline: rgb(117 121 108);
  --md-sys-color-outline-variant: rgb(197 200 186);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(47 49 42);
  --md-sys-color-inverse-on-surface: rgb(241 242 230);
  --md-sys-color-inverse-primary: rgb(177 209 138);
  --md-sys-color-primary-fixed: rgb(205 237 163);
  --md-sys-color-on-primary-fixed: rgb(16 32 0);
  --md-sys-color-primary-fixed-dim: rgb(177 209 138);
  --md-sys-color-on-primary-fixed-variant: rgb(53 78 22);
  --md-sys-color-secondary-fixed: rgb(220 231 200);
  --md-sys-color-on-secondary-fixed: rgb(21 30 11);
  --md-sys-color-secondary-fixed-dim: rgb(191 203 173);
  --md-sys-color-on-secondary-fixed-variant: rgb(64 74 51);
  --md-sys-color-tertiary-fixed: rgb(188 236 231);
  --md-sys-color-on-tertiary-fixed: rgb(0 32 30);
  --md-sys-color-tertiary-fixed-dim: rgb(160 208 203);
  --md-sys-color-on-tertiary-fixed-variant: rgb(31 78 75);
  --md-sys-color-surface-dim: rgb(218 219 208);
  --md-sys-color-surface-bright: rgb(249 250 239);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(243 244 233);
  --md-sys-color-surface-container: rgb(238 239 227);
  --md-sys-color-surface-container-high: rgb(232 233 222);
  --md-sys-color-surface-container-highest: rgb(226 227 216);
}

body.dark {
  --md-sys-color-primary: rgb(177 209 138);
  --md-sys-color-surface-tint: rgb(177 209 138);
  --md-sys-color-on-primary: rgb(31 55 1);
  --md-sys-color-primary-container: rgb(53 78 22);
  --md-sys-color-on-primary-container: rgb(205 237 163);
  --md-sys-color-secondary: rgb(191 203 173);
  --md-sys-color-on-secondary: rgb(42 51 30);
  --md-sys-color-secondary-container: rgb(64 74 51);
  --md-sys-color-on-secondary-container: rgb(220 231 200);
  --md-sys-color-tertiary: rgb(160 208 203);
  --md-sys-color-on-tertiary: rgb(0 55 53);
  --md-sys-color-tertiary-container: rgb(31 78 75);
  --md-sys-color-on-tertiary-container: rgb(188 236 231);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(18 20 14);
  --md-sys-color-on-background: rgb(226 227 216);
  --md-sys-color-surface: rgb(18 20 14);
  --md-sys-color-on-surface: rgb(226 227 216);
  --md-sys-color-surface-variant: rgb(68 72 61);
  --md-sys-color-on-surface-variant: rgb(197 200 186);
  --md-sys-color-outline: rgb(143 146 133);
  --md-sys-color-outline-variant: rgb(68 72 61);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(226 227 216);
  --md-sys-color-inverse-on-surface: rgb(47 49 42);
  --md-sys-color-inverse-primary: rgb(76 102 43);
  --md-sys-color-primary-fixed: rgb(205 237 163);
  --md-sys-color-on-primary-fixed: rgb(16 32 0);
  --md-sys-color-primary-fixed-dim: rgb(177 209 138);
  --md-sys-color-on-primary-fixed-variant: rgb(53 78 22);
  --md-sys-color-secondary-fixed: rgb(220 231 200);
  --md-sys-color-on-secondary-fixed: rgb(21 30 11);
  --md-sys-color-secondary-fixed-dim: rgb(191 203 173);
  --md-sys-color-on-secondary-fixed-variant: rgb(64 74 51);
  --md-sys-color-tertiary-fixed: rgb(188 236 231);
  --md-sys-color-on-tertiary-fixed: rgb(0 32 30);
  --md-sys-color-tertiary-fixed-dim: rgb(160 208 203);
  --md-sys-color-on-tertiary-fixed-variant: rgb(31 78 75);
  --md-sys-color-surface-dim: rgb(18 20 14);
  --md-sys-color-surface-bright: rgb(56 58 50);
  --md-sys-color-surface-container-lowest: rgb(12 15 9);
  --md-sys-color-surface-container-low: rgb(26 28 22);
  --md-sys-color-surface-container: rgb(30 32 26);
  --md-sys-color-surface-container-high: rgb(40 43 36);
  --md-sys-color-surface-container-highest: rgb(51 54 46);
}

:root {
  --astc-text-normal: var(--md-sys-color-on-surface);
  --astc-text-inverse: var(--md-sys-color-inverse-on-surface);
  --astc-primary: var(--md-sys-color-primary);
  --astc-on-primary: var(--md-sys-color-on-primary);
  --astc-secondary: var(--md-sys-color-secondary);
  --astc-on-secondary: var(--md-sys-color-on-secondary);
  --astc-tertiary: var(--md-sys-color-tertiary);
  --astc-on-tertiary: var(--md-sys-color-on-tertiary);
  --astc-error: var(--md-sys-color-error);
  --astc-on-error: var(--md-sys-color-on-error);
  --astc-form-accent-color: black;
  --astc-form-input-outline-inactive: #d1d5db;
  --astc-form-input-background-inactive: #fcfcfc;
  --astc-form-input-background-focus: white;
  --astc-form-border-radius: 12px;
  --astc-border-color: var(--astc-form-input-outline-inactive);
  --astc-site-background: var(--astc-layer-surface);
  --astc-layer-surface: var(--md-sys-color-surface);
  --astc-layer-inverse-surface: var(--md-sys-color-inverse-surface);
  --astc-layer-surface-dim: var(--md-sys-color-surface-dim);
  --astc-layer-surface-bright: var(--md-sys-color-surface-bright);
  --astc-layer-surface-container-lowest: var(--md-sys-color-surface-container-lowest);
  --astc-layer-surface-container-low: var(--md-sys-color-surface-container-low);
  --astc-layer-surface-container: var(--md-sys-color-surface-container);
  --astc-layer-surface-container-high: var(--md-sys-color-surface-container-high);
  --astc-layer-surface-container-highest: var(--md-sys-color-surface-container-highest);
  --astc-layer-primary-container: var(--md-sys-color-primary-container);
  --astc-layer-on-primary-container: var(--md-sys-color-on-primary-container);
  --astc-layer-secondary-container: var(--md-sys-color-secondary-container);
  --astc-layer-on-secondary-container: var(--md-sys-color-on-secondary-container);
  --astc-layer-tertiary-container: var(--md-sys-color-tertiary-container);
  --astc-layer-on-tertiary-container: var(--md-sys-color-on-tertiary-container);
  --astc-layer-error-container: var(--md-sys-color-error-container);
  --astc-layer-on-error-container: var(--md-sys-color-on-error-container);
  --astc-layer-info-container: #d6f1ff;
  --astc-layer-on-info-container: #002d41;
  --astc-layer-success-container: #dfffd6;
  --astc-layer-on-success-container: #044100;
  --astc-layer-warning-container: #fffad6;
  --astc-layer-on-warning-container: #413800;
}

body.dark {
  --astc-form-accent-color: var(--astc-layer-inverse-surface);
  --astc-form-input-outline-inactive: #4f4b46;
  --astc-form-input-background-inactive: #212422;
  --astc-form-input-background-focus: #373737;
  --astc-site-background: var(--astc-layer-surface-container-low);
}

body {
  --ast-global-color-0: var(--astc-primary);
  --ast-global-color-1: var(--astc-on-primary);
  --ast-global-color-2: var(--astc-secondary);
  --ast-global-color-3: var(--astc-on-secondary);
  --ast-global-color-4: var(--astc-site-background);
  --ast-global-color-5: var(--astc-layer-surface-container);
  --ast-global-color-6: var(--astc-border-color);
  --ast-global-color-7: var(--astc-text-normal);
  --ast-global-color-8: var(--astc-text-inverse);
}

/*# sourceMappingURL=index.css.map */
