// Check https://material-foundation.github.io/material-theme-builder/ to build your own theme
:root {
   // Main Colors
   --astc-text-normal: var(--md-sys-color-on-surface); // On Surface
   --astc-text-inverse: var(--md-sys-color-inverse-on-surface); // Inverse On Surface

   // Primary
   --astc-primary: var(--md-sys-color-primary); // Primary (Original or Generated)
   --astc-on-primary: var(--md-sys-color-on-primary); // On Primary

   // Secondary
   --astc-secondary: var(--md-sys-color-secondary); // Secondary (Original or Generated)
   --astc-on-secondary: var(--md-sys-color-on-secondary); // On Secondary

   // Tertiary
   --astc-tertiary: var(--md-sys-color-tertiary); // Tertiary (Original or Generated)
   --astc-on-tertiary: var(--md-sys-color-on-tertiary); // On Tertiary

   // Error
   --astc-error: var(--md-sys-color-error); // Error (Original or Generated)
   --astc-on-error: var(--md-sys-color-on-error); // On Error

   // Forms
   --astc-form-accent-color: black;
   --astc-form-input-outline-inactive: #d1d5db;
   --astc-form-input-background-inactive: #fcfcfc;
   --astc-form-input-background-focus: white;
   --astc-form-border-radius: 12px; // TODO: Rename

   // Misc
   --astc-border-color: var(--astc-form-input-outline-inactive);
   --astc-site-background: var(--astc-layer-surface);

   // Layers
   --astc-layer-surface: var(--md-sys-color-surface); // Surface
   --astc-layer-inverse-surface: var(--md-sys-color-inverse-surface); // Inverse Surface

   --astc-layer-surface-dim: var(--md-sys-color-surface-dim); // Surface Dim
   --astc-layer-surface-bright: var(--md-sys-color-surface-bright); // Surface Bright
   --astc-layer-surface-container-lowest: var(--md-sys-color-surface-container-lowest); // Surface Container Lowest
   --astc-layer-surface-container-low: var(--md-sys-color-surface-container-low); // Surface Container Low
   --astc-layer-surface-container: var(--md-sys-color-surface-container); // Surface Container
   --astc-layer-surface-container-high: var(--md-sys-color-surface-container-high); // Surface Container High
   --astc-layer-surface-container-highest: var(--md-sys-color-surface-container-highest); // Surface Container Highest

   --astc-layer-primary-container: var(--md-sys-color-primary-container); // Primary Container
   --astc-layer-on-primary-container: var(--md-sys-color-on-primary-container); // On Primary Container

   --astc-layer-secondary-container: var(--md-sys-color-secondary-container); // Secondary Container
   --astc-layer-on-secondary-container: var(--md-sys-color-on-secondary-container); // On Secondary Container

   --astc-layer-tertiary-container: var(--md-sys-color-tertiary-container); // Tertiary Container
   --astc-layer-on-tertiary-container: var(--md-sys-color-on-tertiary-container); // On Tertiary Container

   --astc-layer-error-container: var(--md-sys-color-error-container); // Error Container
   --astc-layer-on-error-container: var(--md-sys-color-on-error-container); // On Error Container

   --astc-layer-info-container: #d6f1ff;
   --astc-layer-on-info-container: #002d41;

   --astc-layer-success-container: #dfffd6;
   --astc-layer-on-success-container: #044100;

   --astc-layer-warning-container: #fffad6;
   --astc-layer-on-warning-container: #413800;
}
