:root {
  --astc-text-normal: var(--md-sys-color-on-surface);
  --astc-text-inverse: var(--md-sys-color-inverse-on-surface);
  --astc-primary: var(--md-sys-color-primary);
  --astc-on-primary: var(--md-sys-color-on-primary);
  --astc-secondary: var(--md-sys-color-secondary);
  --astc-on-secondary: var(--md-sys-color-on-secondary);
  --astc-tertiary: var(--md-sys-color-tertiary);
  --astc-on-tertiary: var(--md-sys-color-on-tertiary);
  --astc-error: var(--md-sys-color-error);
  --astc-on-error: var(--md-sys-color-on-error);
  --astc-form-accent-color: black;
  --astc-form-input-outline-inactive: #d1d5db;
  --astc-form-input-background-inactive: #fcfcfc;
  --astc-form-input-background-focus: white;
  --astc-default-border-radius: 12px;
  --astc-border-color: var(--astc-form-input-outline-inactive);
  --astc-site-background: var(--astc-layer-surface);
  --astc-layer-surface: var(--md-sys-color-surface);
  --astc-layer-on-surface: var(--md-sys-color-on-surface);
  --astc-layer-inverse-surface: var(--md-sys-color-inverse-surface);
  --astc-layer-on-inverse-surface: var(--astc-text-inverse);
  --astc-layer-surface-dim: var(--md-sys-color-surface-dim);
  --astc-layer-surface-bright: var(--md-sys-color-surface-bright);
  --astc-layer-surface-container-lowest: var(--md-sys-color-surface-container-lowest);
  --astc-layer-surface-container-low: var(--md-sys-color-surface-container-low);
  --astc-layer-surface-container: var(--md-sys-color-surface-container);
  --astc-layer-surface-container-high: var(--md-sys-color-surface-container-high);
  --astc-layer-surface-container-highest: var(--md-sys-color-surface-container-highest);
  --astc-layer-primary-container: var(--md-sys-color-primary-container);
  --astc-layer-on-primary-container: var(--md-sys-color-on-primary-container);
  --astc-layer-secondary-container: var(--md-sys-color-secondary-container);
  --astc-layer-on-secondary-container: var(--md-sys-color-on-secondary-container);
  --astc-layer-tertiary-container: var(--md-sys-color-tertiary-container);
  --astc-layer-on-tertiary-container: var(--md-sys-color-on-tertiary-container);
  --astc-layer-error-container: var(--md-sys-color-error-container);
  --astc-layer-on-error-container: var(--md-sys-color-on-error-container);
  --astc-layer-info-container: #d6f1ff;
  --astc-layer-on-info-container: #002d41;
  --astc-layer-success-container: #dfffd6;
  --astc-layer-on-success-container: #044100;
  --astc-layer-warning-container: #fffad6;
  --astc-layer-on-warning-container: #413800;
}

body.dark {
  --astc-form-accent-color: var(--astc-layer-inverse-surface);
  --astc-form-input-outline-inactive: #4f4b46;
  --astc-form-input-background-inactive: #212422;
  --astc-form-input-background-focus: #373737;
  --astc-site-background: var(--astc-layer-surface-container-low);
  --astc-layer-info-container: #004a93;
  --astc-layer-on-info-container: #d6e9ff;
  --astc-layer-success-container: #209300;
  --astc-layer-on-success-container: #e6ffd6;
  --astc-layer-warning-container: #937f00;
  --astc-layer-on-warning-container: #fff2d6;
}

body {
  --ast-global-color-0: var(--astc-primary);
  --ast-global-color-1: var(--astc-on-primary);
  --ast-global-color-2: var(--astc-tertiary);
  --ast-global-color-3: var(--astc-on-tertiary);
  --ast-global-color-4: var(--astc-site-background);
  --ast-global-color-5: var(--astc-layer-surface-container);
  --ast-global-color-6: var(--astc-border-color);
  --ast-global-color-7: var(--astc-text-normal);
  --ast-global-color-8: var(--astc-text-inverse);
}

/*# sourceMappingURL=index_B.css.map */
