:root.light.dark {
   background-color: var(--astc-site-background) !important;
   color: var(--astc-text-normal);

   .card .card-header {
      background: var(--astc-layer-surface-container);
   }

   .wpcf7 {
      .wpcf7-not-valid-tip {
         color: #ff6b6b;
      }

      .cf7_mls_count_step {
         color: white;
         mix-blend-mode: difference;
      }

      .cf7mls_number_step_wrap {
         .cf7mls_number {
            color: var(--astc-secondary);
         }
         .cf7mls_step_current {
            color: var(--astc-text-normal);
         }
      }
   }

   .ast-footer-copyright {
      color: var(--astc-text-normal);
   }

   label {
      color: var(--astc-text-normal);
   }

   input,
   textarea,
   select {
      color: var(--astc-text-normal);
      caret-color: var(--astc-text-normal);

      &:focus {
         background-color: var(--astc-form-input-background-focus) !important;
         color: var(--astc-text-normal) !important;
         caret-color: var(--astc-text-normal);
      }
   }

   input[type='submit'] {
      background-color: var(--ast-global-color-2);
      color: var(--ast-global-color-3);
   }

   input[type='checkbox'],
   input[type='radio'],
   input[type='date'] {
      color-scheme: dark;
   }

   // TODO: Needs clarification
   //button,
   //input[type='submit'],
   //input[type='reset'],
   //input[type='button'] {
   //   background-color: var(--astc-primary) !important;
   //   color: var(--astc-primary-contrast) !important;
   //
   //   .mobile-menu-toggle-icon svg {
   //      fill: var(--astc-primary-contrast) !important;
   //   }
   //}

   #ast-mobile-site-navigation button.ast-menu-toggle {
      background-color: transparent !important;
      color: white !important;
   }

   .cf7mls_progress_bar_percent {
      background-color: var(--astc-layer-background-2);
   }
   .widget_search .search-form .search-field {
      background-color: var(--astc-layer-background-2);
   }

   :root {
      --ast-dark-danger-text-color: #ff6b6b;
   }
   .wpcf7-not-valid-tip {
      color: var(--astc-color-danger);
   }
   .wpcf7-validation-errors {
      color: var(--astc-color-danger) !important;
   }
   .wpcf7-icon-wraning,
   .wpcf7-icon-warning {
      fill: var(--astc-color-danger) !important;
   }

   .widget_search .search-form input[type='submit'] {
      max-width: unset !important;
   }

   .ast-separate-container .ast-article-single:not(.ast-related-post),
   .woocommerce.ast-separate-container .ast-woocommerce-container,
   .ast-separate-container .error-404,
   .ast-separate-container .no-results,
   .single.ast-separate-container .site-main .ast-author-meta,
   .ast-separate-container .related-posts-title-wrapper,
   .ast-separate-container .comments-count-wrapper,
   .ast-box-layout.ast-plain-container .site-content,
   .ast-padded-layout.ast-plain-container .site-content,
   .ast-separate-container .ast-archive-description,
   .ast-separate-container .comments-area {
      background-color: unset;
   }
}
